 
<div class="gentext" >
  <h4>Testing Criteria.</h4>
  Some rules to make it to the Leader Board:<br>
	<ul>
    <li>Your program must run.</li>
    <li>Your program must run through Valgind with no errors or memory leaks.&nbsp;
		    Very few submissions have had any trouble meeting this requirement.</li>
  </ul>
  The test is run on all 33 .txt files in ~cs50/pset6/texts.<br><br>

  The test is run ten times, the best of the ten is used on the board.<br><br>

  The test is run on a HP ProBook 4440s with a Intel Celeron CPU B840 @ 1.90GHZ
	using Linux Mint 16 64bit as the OS with 4GB of ram.<br><br>

  The 32 bit libs are installed in Linux so the tests can be run outside the "CS50
	Appliance".  All tests are run with the same configuration.<br>
  <h3><a href="https://github.com/ebobtron/Speller-BigBoard" class="head-links">
  See these pages and test.c on GitHub</a></h3>
</div>

