<!-- 
*   criteria.html  ** testing criteria explained **
*
*   copyright 2015 Robert Clark(aka ebobtron), et al.
*
*   an expansion of my edX.org CS50x final project
*   winter/spring 2014  with Launch Code
**************************************************************  --> 
<div class="gentext">
  <h4>Testing Criteria.</h4>
  Some rules to make it to the Leader Board:<br />
	<ul>
    <li>Your program must run.&nbsp; Based on last years submissions not an
    entirely humorous remark.</li>
    <li>Your program must run through Valgrind with no errors or memory leaks.&nbsp;
		    Very few submissions have had any trouble meeting this requirement.</li>
  </ul>
  The test is run on all 33 .txt files in /home/cs50/pset5/texts/.<br />
  <br />
  The test is run a minimum of ten times, the fastest total time is used on the
  board.<br />
  <br />
  The test is run on a HP ProBook 4440s with a Intel Celeron CPU B840 @ 1.90GHZ
	using Linux Mint 16 64bit as the OS with 4GB of ram.&nbsp; The 32 bit libs are
  installed in Linux OS so the tests can be run outside the "CS50 Appliance".&nbsp;
  All tests are run with the same configuration.&nbsp; This configuration has been
  preserved so that data from 2015 will have realistic comparisons to 2014 results.
  <br />
  <h3><a href="https://github.com/ebobtron/Speller-BigBoard" class="head-links">
  See these pages and the automation source code on GitHub</a></h3>
</div>

<!--  last edited:  02/02/2015   ebt   -->