<div>
<blockquote style="font-size:22px">
<h2> file submission </h2>

  <form action='../public/getspeller.php' method='post'>
		<table class="table subtable">
		 <tbody>
  		<tr>
				<td class="right">
    			Please provide the magic word:
				</td>
				<td>
					<input class="input" autofocus placeholder="magic word" type='text' name='magword'>
  			</td>
			</tr>
  		<tr>
				<td class="right">
		  		Your reddit ID or name in one word "TerryLF" or "DonJones2010". &nbsp;
    			If your adding an additional submission add your leader board id to your
					name. &nbsp; example: ebobtron1010  Thanks
				</td>
				<td> 
					<input class="input" placeholder="reddit id or your name" type='text' name='name'>
  			</td>
			</tr>
			<tr>
				<td class="right">
    			Your email address if I have trouble with your submitted file:
				</td>
				<td> 
    			<input class="input" placeholder="email address" type='text' name='email'>
  			</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
  				<input class="input" type='submit' value='continue'>
				</td>
			</tr>
		 </tbody>	
		</table>
	</form>
</blockquote>
</div>