<!-- 
*   gettest.html   ** view for download.php **
*
*   copyright 2015 Robert Clark(aka ebobtron), et al.
*
*   an expansion of my CS50x final project 2014 
******************************************************** -->

<div class="gentext">
  <h3>
	  <a id="menu" href="../spellerTester.zip" class="head-links">
		  Download the test program</a></h3>
  
  testst5 is a modified version of the program that runs speller on each text file in<br />
  "/home/cs50/pset5/text" for this board.  The source code is included in the zip file.<br />
  <br />
  Usage is straightforward.<br><br>

  Unzip 'testst5' into your pset5 folder.<br>
  From a terminal window type<br /><br />
  'cd Dropbox/pset5' then<br />
  'chmod 711 testst5'  to set the permissions then use as below.<br /><br />

  &nbsp;<b> ./testst5 ./speller [v]</b><br /><br />

  &nbsp;<b> ./testst5 ./speller</b><br />
  run speller with all the .text files in ~cs50/pset5/texts. &nbsp;
	Display average total times.<br /><br />

  &nbsp;<b> ./testst5 ./speller v</b><br />
  run speller showing times for each text file with the average at the bottom
  <br /><br />

  times are listed as below<br />
  <b>
   total-time,&nbsp; load-time,&nbsp; check-time,&nbsp; size-time,&nbsp;
   unload-time.</b><br /><br />

</div>

<!-- last edited: 02/25/2015  ebt -->