


<div class="gentext">
<h3><a id="menu" href="../spellerTester.zip" class="head-links">Download the test program</a></h3>
<p>
Usage is straightforward.<br><br>

place 'testst' in your pset6 folder<br><br>

&nbsp;<b> ./testst ./speller [v]</b><br><br>

&nbsp;<b> ./testst ./speller</b><br>
run speller with all the .text files in ~cs50/pset6/texts. &nbsp; Displaying average times.<br><br>
&nbsp;<b> ./testst ./speller v</b><br>
run speller showing times for each text file with the average at the bottom<br><br>

times are listed as below<br>
<b>total-time,&nbsp;&nbsp;load-time,&nbsp;&nbsp;check-time,&nbsp;&nbsp;size-time,&nbsp;&nbsp;unload-time.</b>


</div>
