body{
	background-color:#fdf5f5;
}

.input{
  height: 40px;
	width: 260px;
	font-size: 18px;
	border-radius: 5px;
	padding: 4px

} 
.td-th {
  border:0px solid blue;
	width:9%;
  }
	
.head{
  font-family:sans-serif;
  }

.div-head{
  text-align:center;
  }
	
.head-links{
  text-decoration:none;
	color: blue;
  }	

.legal-links{
	text-decoration:none;
	font-family:sans-serif;
	font-size:12px;
	color: blue;
 }
 
.div-table{
  border:0px solid red;
  width:90%;
  margin: auto;
  text-align: center;
  font-family:sans-serif;
  }

.row{
	background-color:#e0e8ff;
  }
	
.table{
	width:95%;
	border:0px solid black;
	margin: auto;
	border-spacing:0px;
  }

.tablefoot{
	width:85%;
	border:0px solid black;
	margin: auto;
  }	

.tbody{
  height:300px;
  overflow-y: auto;
	padding-right:10px;
  }

.thead{
  display:block;
	width:98%;
	text-align: center;
	 
}

.ldbd-tbody{
  display:block;
	width:100%;
  text-align: center;
}	

.lnk{
	margin: 5px;
	font-size:140%;
	color: blue;
	text-align:center;
  }

.menu{
	text-decoration: none;
	color:blue;
  }

.right{
	text-align:right;
	}
	
.gentext{
	width:60%;
	margin:auto;
	font-family:sans-serif;
  }	

.subtable{
	font-family:sans-serif;
	font-size: 18px;
	width: 80%;
	border-spacing: 10px;
  }

