body{
	background-color:fdf5f5;
}

.head{
	
  font-family:sans-serif;
}

.div-head{
 
  text-align:center;
	
}

.p-footer {

	display: inline block;
  
}

.legal-links{

	text-decoration:none;
	color: blue;

}

.div-foot{

	text-align: center;
	font-size: 11;
	float: left;
	width: 40%;
	font-family:Arial,Helvetica,sans-serif;

}

.div-table{

	border:0px solid red;
	width:80%;
	margin: auto;
	height:340px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: center;
	font-family:Arial,Helvetica,sans-serif;
  }

.row{
	background-color:#e0e8ff;
  }
	
.table{

	width:90%;
	border:0px solid black;
	margin: auto;
	border-spacing:0px;
  }

td {text-align:center;}

.lnk{
	margin: 5px;
	font-size:140%;
	color: blue;
	text-align:center;
  }

#menu {
  
	text-decoration: none;
	color:blue;
  }

.right{
	text-align:right;
	}
	
.gentext{
		width:60%;
		margin:auto;
		font-family:sans-serif;
{	
