/*  fonts   */

@font-face {
  font-family: Geosanslight;
  src: url(font/GeosansLight.ttf);
}

@font-face {
  font-family: Existence-Light;
  src: url(font/Existence-Light.ttf);
}

@font-face {
  font-family: Trebuchet_MS;
  src: url(font/trebuc.ttf);
}

@font-face {
  font-family: Arapey_Italic;
  src: url(font/Arapey-Italic.ttf);
}

/* all elements */

a:hover {
  background-color: white;
}

body {
  background-color:#ebebf5;
  font-family:Trebuchet_MS;
}

input {
  font-family: Trebuchet_MS;
}
  
input:-moz-placeholder {
  color: blue;
  font-family: Arapey_Italic;
}
  
input:-ms-input-placeholder {
  color: blue;
  font-family: Arapey_Italic;
}

input::-moz-placeholder {
  color: blue;
  font-family: Arapey_Italic;
}

input::-webkit-input-placeholder {
  color: blue;
  font-family: Arapey_Italic;
}

td {
  border:0px solid black;
}

/* classes */  

.admin {
  border:0px solid white;
  font-family: Trebuchet_MS;
  font-size: 18px;
  height:350px;
  margin:auto;
  overflow-y: auto;
  width: 90%;
}

.center {
  text-align:center;
}

.div-head {
  margin-top:20px;
  text-align:center;
}
 
.div-table {
  border:0px solid Green;
  margin: auto;
  text-align: center;
  width:90%;
}

.gentext {
  border:0px solid pink;
  font-size:95%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0;
  width:65%; 
}

.grpSelect {
  height: 296px;
  margin: auto;
  overflow-y: auto;
  width: 90%;
}

.grptd {
   border: 0px solid black;
   width: 37%;
}
  
.head {
  font-family: Arapey_Italic;
  margin: 0 0 6px 0;
}

.head-links {
  color: blue;
  font-family:Arapey_Italic;
  text-decoration:none;
}

.input{
  border: 1px solid black;
  border-radius: 4px;
  font-size: 18px;
  padding: 4px;
}

.ldbd-tbody {
  display:block;
  text-align: center;
}

.left {
  padding-left:4px;
  text-align: left;
}
  
.legal-links {
  color: blue;
  font-family: Trebuchet_MS;
  font-size:12px;
  text-decoration:none;
}

.lilmar {
  margin-bottom:5px;
}
	
.lispaced {
  margin-top: 4px;
}

.lnk {
  color: blue;
  font-size:140%;
  margin: 5px;
  margin-top:20px;
  text-align:center;
}

.menu {
  color:blue;
  text-decoration: none;
}

.name {
  color: blue;
  font-family:Arapey_Italic;
  font-size: 14pt;
  text-decoration:none;      
}

.right {
  padding: 0 2px;
  text-align:right;
}

.row {
  background-color:#fefefe;
}
  
.subright {
  height: 60px;
  padding: 0 4px;
  text-align:right;
  width:70%;
}

.subtable {
  border:0px solid black;
  border-spacing: 10px;
  font-size: 18px;
  width: 90%;
}

.subtext {
  font-size:1.1em;
  margin:auto;
  width:85%;
}

.table {
  border:0px solid red;
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  width:100%;
}
  
.table-all {
  border:0px solid red;
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  width:80%;
}
  
.table-foot {
  border:0px solid black;
  bottom:5%;
  left:8%;
  font-family: Existence-Light;
  font-size: 13px;
  margin: auto;
  width:85%;
}

.tbody {
  border:0px solid black;
  height:285px;
  overflow-y: auto;
  padding-right:2px;
  -webkit-overflow-scrolling: touch;
}

.td {
  border:0px solid blue;
  font-family: Trebuchet_MS;
  padding:0%;
}

.td-all {
  border:0px solid blue;
  font-family: Trebuchet_MS;
  width:10%;
}

.td-allgrp {
  border:0px solid blue;
  width: 30%;
  font-family: Arapey_Italic;
  font-size: 110%;
}  
  
.th {
  border:0px solid blue;
  font-family: Trebuchet_MS;
  font-size: 80%;
  width:220px;
}

.thead {
  border:0px solid black;
  display:block;
	text-align: center;
  width:100%;
}

/*  ids  */

#cs50img {
  height: 60%;
  width: 60%;
}

#coderg {
  background-color: black;
  height:94px;
  width:301px; 
}

#coderg button:hover {
  border: 2px solid white;
}

#coderggrp {
  background: transparent;
  border:0; 
  color: white;
  font-size: 1em;
  height: 100%;
  width: 100%;   
}

#codergimg {
  height: 65%;
  width: 65%; 
}

#edx {
  background-color: white;
  background-image:url(../img/front-hero-bg-s.jpg);
  height:94px;
  width:301px; 
}

#edx button:hover {
  border: 2px solid white;
}

#edxgrp { 
  background: transparent;
  border:0;
  width: 100%; height: 100%;  
}

#edximg {
  height: 33%;
  width: 33%;
}  

#grpTable {
  border: 0px solid black;
  width: 98%;
}

#lcode {
  background-color: black;
  height:94px;
  width:301px; 
}

#lcode button:hover {
  border: 2px solid white;
}

#lcodegrp {
  background: transparent;
  border:0; 
  color: white;
  font-size: 1em;
  height: 100%;
  width: 100%; 
}

#lcodeimg {
  height: 55%;
  width: 55%; 
}
